.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
.direnv
!.env.example

/src-tauri
/src/lib/api/spec.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
